<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956728233466-btah0o1o8dskmut3rei8l93buf515jv2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956728233466-btah0o1o8dskmut3rei8l93buf515jv2</string>
	<key>API_KEY</key>
	<string>AIzaSyASsMvcfY0i1CEte1RDr6ZbPImT4UtAQH4</string>
	<key>GCM_SENDER_ID</key>
	<string>956728233466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apextraining.ApexTraining</string>
	<key>PROJECT_ID</key>
	<string>apextraining-a28c2</string>
	<key>STORAGE_BUCKET</key>
	<string>apextraining-a28c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956728233466:ios:c7498467e95e5f6867a843</string>
</dict>
</plist>